<%- include("partials/header") %>
<h1>
	This is the show template
</h1>

<p>
	<%= campground.name %>
</p>

<p>
	<img src = "<%= campground.image %>">
</p>

<p>
	<%= campground.description %>
</p>
<%- include("partials/footer") %>